---
const { id, name } = Astro.props;
---

<a
  class="boxer-Card inline-block transition hover:-translate-y-3 w-10 sm:w-14 md:-20
  lg:w-24 xl:w-26 group relative rounded overflow-hidden"
  href={`/luchador/${id}`}
  data-id_luchador={id}
>
  <img
    class="aspect-[900-1200] h-full object-cover"
    src={`/images/fighters/cards/${id}.png`}
    alt={`Targeta del luchador- ${name}`}
    decoding="async"
  />

  <div
    class="absolute inset-0 flex flex-col items-center justify-end bg-gradient-to-t from-pink-900/90 via-transparent to-transparent p-1 opacity-0
    group-hover:opacity-100 transition-opacity duration-300"
  >
    <h3 class="text-teal-400 text-[11px] px-4">{name}</h3>
  </div>
</a>

<script>
  document.addEventListener("astro:page-load", () => {
    //recuperar el elemento
    const boxerCard = document.querySelectorAll(".boxer-Card");

    //1 time
    let timeoutId: number | null = null;

    boxerCard.forEach((sigleCard) => {
      sigleCard.addEventListener("mouseenter", (e) => {
        //3. time limpiar el timeout
        if (timeoutId) {
          clearTimeout(timeoutId);
        }

        e.preventDefault();
        //recuperar el data atribute
        const idLuch = sigleCard.getAttribute("data-id_luchador");
        console.log("disteclick...", idLuch);
        if (idLuch) {
          //Dispcahs acastomevent
          const event = new CustomEvent("boxer-card-hovered", {
            detail: { idLuch },
          });
          console.log("desde card");
          document.dispatchEvent(event);
        }
      });

      //Mostrar la landing

      // sigleCard.addEventListener("click", () => {
      //   //recuperar el data atribute
      //   const idLuch = sigleCard.getAttribute("data-id_luchador");

      //   if (idLuch) {
      //     //Dispcahs acastomevent
      //     const event = new CustomEvent("boxer-card-hovered", {
      //       detail: { idLuch },
      //     });
      //     document.dispatchEvent(event);
      //   }
      // });

      //cuado ya nos e hace hover
      sigleCard.addEventListener("mouseleave", () => {
        //2. time
        timeoutId = setTimeout(() => {
          const event = new CustomEvent("boxer-card-exit");
          document.dispatchEvent(event);
        }, 1000);
      });
    });
  });
</script>
