---
import { FIGHTERS } from "../consts/fighters";
import BoxerCard from "./BoxerCard.astro";

const firstrowBox = FIGHTERS.slice(0, 6);
const leftRow = firstrowBox.slice(0, 3);
const rightRow = firstrowBox.slice(3);
const SecondrowBox2 = FIGHTERS.slice(6);
---

<section class="relative flex min-h-screen w-full">
  <div
    class="bg-[url('/images/hero.png')] bg-cover bg-center w-full mask-fade-bottom absolute inset-0"
  >
    <div
      class="relative flex flex-col items-center p-8 w-full text-center h-full"
    >
      <div
        id="landing"
        class="absolute inset-0 flex flex-col items-center w-full py-24"
      >
        <h3 class="font-light text-gray-50 leading-tight mt-4">
          <strong>26</strong> DE <br /><strong> JULIO</strong>
        </h3>

        <figure class="relative mt-2">
          <img
            class="w-64 h-auto mt-8 relative"
            src="/images/logo.png"
            alt="img_de la velada del año"
            decoding="async"
          />
          <div class="absolute bg-pink-400/60 blur-2xl -z-10 size-84 top-0">
          </div>
        </figure>

        <h3 class="font-light text-gray-50 leading-tight mt-2">
          ESTADIO <br /> LA CARTUJA <br /><strong>SEVILLA</strong>
        </h3>

        <h3 class="font-light text-gray-50 leading-tight">
          <a
            href="#"
            rel="noopener noreferrer"
            target="_blank"
            class="inline-block transition hover:scale-125"
          >
            TWITCH.TV <br />
            <strong>TERMI</strong>
          </a>
        </h3>
      </div>

      <div
        id="boxeadoresContenier"
        class="pointer-events-none absolute inset-0 flex flex-col justify-start z-100"
      >
        <!-- hola -->

        <div
          class="relative top-10 mx-auto h-15 flex w-full items-center justify-center"
        >
          {
            FIGHTERS.map(({ id, name }) => (
              <img
                src={`/images/fighters/text/${id}.png`}
                alt={`nombre deel luchador ${name}`}
                loading="lazy"
                decoding="async"
                class="w-auto h-full absolute hidden mt-10"
                data-id={`hero-text-${id}`}
              />
            ))
          }
        </div>

        <div
          class="relative bottom-0 mx-auto h-[70vh] flex w-full items-center justify-center mask-fade-bottom mb-6"
        >
          {
            FIGHTERS.map(({ id, name }) => (
              <img
                transition:name={`image-${id}`}
                src={`/images/fighters/big/${id}.png`}
                alt="imagen grande del luchador"
                loading="lazy"
                decoding="async"
                class="w-auto h-full absolute hidden"
                data-id={`hero-image-${id}`}
              />
            ))
          }
        </div>
      </div>

      <div
        class="relative flex flex-col items-center justify-end p-8 mb-4 h-full w-full max-w-6xl gap-4"
      >
        <div class="flex flex-wrap justify-between w-full">
          <div class="flex flex-wrap justify-start gap-2">
            {leftRow.map(({ id, name }) => <BoxerCard id={id} name={name} />)}
          </div>
          <div class="flex flex-wrap justify-end gap-2">
            {rightRow.map(({ id, name }) => <BoxerCard id={id} name={name} />)}
          </div>
        </div>

        <div class="flex flex-wrap justify-between gap-2">
          {
            SecondrowBox2.map(({ id, name }) => (
              <BoxerCard id={id} name={name} />
            ))
          }
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  document.addEventListener("astro:page-load", () => {
    let landing = document.getElementById("landing");

    let icdurrentId: string | null = null;

    document.addEventListener("boxer-card-hovered", (event: Event) => {
      console.log("hla");
      const customEvent = event as CustomEvent<{ idLuch: string }>;
      const idLuch = customEvent.detail.idLuch;
      // console.log("boxer-card-hovered", idLuch);

      //1. si ya esta el mismo boxeador en el dom no hacer nada
      if (icdurrentId === idLuch) return;

      //Mostrar title del boxedaro -- qeuitar el hidden
      //2. si esta haciendo hover sobre otro boxeador
      if (icdurrentId) {
        document
          .querySelector(`[data-id="hero-text-${icdurrentId}"]`)
          ?.classList.add("hidden");
        document
          .querySelector(`[data-id="hero-image-${icdurrentId}"]`)
          ?.classList.add("hidden");
      }

      //Quitar la landing cuando aparece un luchador
      landing?.classList.add("hidden");
      //Mostrar imagen del boxedaro -- qeuitar el hidden
      document
        .querySelector(`[data-id="hero-text-${idLuch}"]`)
        ?.classList.remove("hidden");

      document
        .querySelector(`[data-id="hero-image-${idLuch}"]`)
        ?.classList.remove("hidden");

      icdurrentId = idLuch;
    });
  });
</script>
